@charset "UTF-8";
/* 공통 */
*{font-family: 'Noto Sans KR', 'NanumBarunGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;}
/* header */
header.pc{width: 100%; height: 121px; border-bottom: 1px solid #858585; position: fixed; top: 0; left: 0; background: #999; z-index: 99;}
header.pc #lnb{width: 100%; height: 35px; box-sizing: border-box;  background-color: #000;}
header.pc #lnb #lnba a{color: #fff;}
header.pc #lnb .lnb{width: 90%; height: 100%; margin: 0 auto; display: flex; justify-content:flex-end; align-items: center;}
header.pc #lnb .lnb li{margin-left: 29px; position: relative;}
header.pc #lnb .lnb li a{font-size: 15px;}
header.pc #lnb p{font-size: 15px; display: block; color: #fff; margin:0;}

header.pc #header{height: 75px; width: 90%; margin: 0 auto; display: flex; align-items: center; justify-content:space-between; flex-wrap: wrap;}
#header h1 a{margin-bottom: 25px;}
header.pc #header h1 a{font-size: 0; display: block; height: 100%;}
/* nav */
.navigation { margin: auto; width: 1000px; margin-top: 5px; }
ul.navigation::after{content: ""; display: block; clear: both;}/*float:left; 넣는 요소의 부모::after*/
ul.navigation li{float: left; width: 20%; line-height: 50px;}
ul.navigation li a{display: block; text-align: center; color: #333; font-size: 20px; font-weight: bold;}
ul.drop_menu{width: 1000px; margin-left: 165px; display: none; background-color: #d0bcff;}/*drop_menu 안보이게 하기*/
ul.drop_menu::after{content: ""; display: block; clear: both;}/*float:left; 넣는 요소의 부모::after*/
ul.drop_menu li{width: 20%; float: left; text-align: center; line-height: 0;}
ul.drop_menu li a{display: block; margin: 20px 0; color: rgb(66, 27, 66);}
ul.navigation:hover + ul.drop_menu{display: block;}/*menu에 마우스오버했을 때 drop_menu 보이게하기*/
ul.drop_menu:hover{display: block;}/*drop_menu에 마우스오버 했을 때 drop_menu 보이게하기*/
ul.navigation > li > a:hover{color: purple;}
ul.drop_menu li a:hover{color: purple;}



/* 입력 폼 */
.tm_grp+.concertHall { margin-top:15px; }
.concertHall+.concertHall { margin-top:55px; }
.yesPopUp .popYUI_cont .concertHall+.concertHall { margin-top:20px; }
.concertHall dt { line-height:20px;font-size:13px;font-weight:bold;color:#333; }
.concertHall dt.none { display:none; }
.concertHall dt .item_tit { line-height:20px;font-size:13px;font-weight:bold;color:#333; }
.concertHall dt .item_des { line-height:20px;font-size:13px;font-weight:normal;color:#999; }
.concertHall dd { margin-top:8px;line-height:20px; }
.concertHall dd+dt { margin-top:18px; }
.concertHall .inpRow+.inpRow { margin-top:10px; }
.concertHall .yesFormTxt+.inpRow { margin-top:10px; }
/* .concertHall .inpRow.cols {  } */
.concertHall .inpRow.cols .colGrp { display:table;margin:0;padding:0;width:100%;table-layout:fixed; }
.concertHall .inpRow.cols .colGrp .colCell { display:table-cell;vertical-align:top; }
.concertHall .inpRow.cols .colGrp .colCell.w_30p { width:30%; }
.concertHall .inpRow.cols .colGrp .colCell.w_40p { width:40%; }
.concertHall .inpRow.cols .colGrp .colCell.w_50p { width:50%; }
.concertHall .inpRow.cols .colGrp .colCell.w_80  { width:80px; }
.concertHall .inpRow.cols .colGrp .colCell.w_10  { width:10px; }
.concertHall .inpRow.cols .colGrp .colCell.w_20  { width:20px; }
.concertHall .inpRow.cols .colGrp .colCell.w_30  { width:30px; }
.concertHall .inpRow.cols .colGrp .colCell.w_100 { width:100px; }
.concertHall .inpRow.cols .colGrp .colCell.w_120 { width:120px; }
.concertHall .inpRow.cols .colGrp .colCell.w_130 { width:130px; }
.concertHall .inpRow.cols .colGrp .colCell.w_140 { width:140px; }
.concertHall .inpRow.cols .colGrp .colCell.w_150 { width:150px; }
.concertHall .inpRow.cols .colGrp .colCell.w_160 { width:160px; }
.concertHall .inpRow.cols .colGrp .colCell.w_165 { width:165px; }
.concertHall .inpRow.cols .colGrp .colCell.w_180 { width:180px; }
.concertHall .inpRow.cols .colGrp .colCell.w_190 { width:190px; }
.concertHall .inpRow.cols .colGrp .colCell.w_200 { width:200px; }
.concertHall .inpRow.cols .colGrp .colCell.w_210 { width:210px; }
.concertHall .inpRow.cols .colGrp .colCell.w_250 { width:250px; }
.concertHall .inpRow.cols .colGrp .colCell.w_260 { width:260px; }
.concertHall .inpRow.cols .colGrp .colCell.w_270 { width:270px; }
.concertHall .inpRow.cols .colGrp .colCell.w_280 { width:280px; }
.concertHall .inpRow.cols .colGrp .colCell.w_290 { width:290px; }
.concertHall .yesFormCmt { line-height:20px;font-size:13px;color:#666; }

.concertHall .yesFormSubGrp { padding:20px;background-color:#f8f8f8; }
.concertHall .yesFormChkLi+.yesFormSubGrp { margin-top:15px; }
.concertHall .yesFormSubGrp .yesFormChkLi { margin-top:0; }

.yesFormBtn { margin-top:60px; }
.yesFormBtn .formBtn_txt { margin-top:20px;line-height:20px;font-size:13px;color:#333; }
.yesFormBtn.cols { margin-left:-5px;margin-right:-5px; }
.yesFormBtn.cols .colGrp { display:table;width:100%;table-layout:fixed; }
.yesFormBtn.cols .colGrp .colCell { display:table-cell;vertical-align:top; }
.yesFormBtn.cols .colGrp .colCell.w_50p { width:50%; }
.yesFormBtn.cols .colGrp .colCell .btnC { display:block;margin:0 5px; }
.yesFormBtn.cols .colGrp .colCell .btnC .bWrap { display:block; }
.yesPopUp .popYUI_cont .yesFormBtn { margin-top:20px; }

.btnC.xb_size .bWrap { height: 50px; padding: 0 7px; text-indent: 0; border: solid 1px #ebebeb; border-radius: 3px; }
button.btnC.btn_wSizeH { width:100%; }
.btnC.btn_wSizeF .bWrap { display:block; }
.formBtn_btn{text-align: center; }
#emtxt {width: 150px; display: flex; align-items: center; justify-content: center; height: 50px;}
#hallWidth{margin-right: 10px;}
.imgGrp{display: flex;}
.imgCol{flex-basis: 50%;}
div.inpRow .inpwid { width: 90%; }
#concertHallName{ font-family: 'Noto Sans KR', 'NanumBarunGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
		width: 100%; border: none; color: #333; font-size: 16px; font-weight: bold; }
		
strong {font-size: 15px; color: #333;}
#adminTit {font-size: 25px;}

#category .cateGrp { flex: 1; }
#category { text-align: center; box-sizing: border-box; border: solid 1px #ebebeb; background-color: #fff; 
		padding: 9px 14px 11px; line-height: 28px; display: flex; align-items: center; }

h2 { direction: ltr; text-align: left; font-size: 1.75em; margin: 0px; }
.fc-cell-shaded a, .fc-scrollgrid-section-body a { text-decoration: none; color: inherit; }
#navigation a { text-decoration: none; color: inherit; }


.fc-list-table{width: 550px;}
.showingInput{border-color: lightgray; border-radius: 4px; height: 40px;}
.calendar { width: 550px; }
.fc-toolbar-chunk .fc-button-primary { border: none; background-color: lightgray; color: black; font-weight: bold; }
.position { width: 1200px; display: flex; justify-content: space-around; }
div, table { border-radius: 5px; }
.modal-body{font-size: 14px;}
.tbshowing .showingInput{text-align: left; margin-top: 10px}
.concertHall .position {
  font-size: 14px;
  font-family: 'Noto Sans KR', 'NanumBarunGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
}
/* 일요일 날짜 빨간색 */
.fc-day-sun a { color: red; text-decoration: none; }
/* 토요일 날짜 파란색 */
.fc-day-sat a { color: blue; text-decoration: none; }
