@charset "UTF-8";
section { width: 1000px; margin: 0 auto; padding-top: 70px; }
/* 양도등록창 */
.inquiry_popup{position: fixed; width: 100%; height: 100%; background: rgba(0,0,0,0.8); z-index: 9999999; top: 0; left: 0;}
.inquiry_popup .inquiry_close{display: none;}
.inquiry_popup .inquiry_write{border-radius: 5px; box-sizing: border-box; padding: 60px; width: 700px; height: 750px; position: absolute; top: 10%; left: 50%; margin-left: -350px; background: #fff;}
.inquiry_popup .inquiry_write h3{ font-weight: 700; font-size: 28px; margin-bottom: 20px; text-align: center;}
.inquiry_popup .inquiry_write table { width: 100%;border: 1px solid #ccc; border-collapse: collapse; }
.inquiry_popup .inquiry_write th,
.inquiry_popup .inquiry_write td {vertical-align: middle; border: 1px solid #ccc; padding: 10px; text-align: left;}
.inquiry_popup .inquiry_write td input#secret_write_N{margin-left: 20px;}
.inquiry_popup .inquiry_write td input#inquiry_tit{border-radius: 5px; border: 1px solid #ccc; padding: 10px; font-size: 16px; width: 100%; box-sizing: border-box;}
.inquiry_popup .inquiry_write td textarea#content{border-radius: 5px;  resize: none;border: 1px solid #ccc; padding: 10px; font-size: 16px; width: 100%; height: 120px; box-sizing: border-box;}
.inquiry_popup .inquiry_write td .textLengthWrap{text-align: right; color: #aaa;}
/* 버튼 */
.btn_wrap{margin-top: 40px; display: flex; justify-content: center;}
.btn_wrap a{padding: 15px 50px; margin: 0 5px; font-weight: 600;}
.btn_wrap a.order_btn{background: #f43142; border: 1px solid #f43142; color: #fff;}
.btn_wrap a.shopping_btn{background: #fff; border: 1px solid #f43142; color: #5c5c5c;}
.transferButton {cursor: pointer; border-radius: 3px; background-color: #f43142;color: #fff; width: 50px; height: 21px; border: none;}
.transferCancelButton {border-radius: 3px; background-color: #f43142;color: #fff; width: 50px; height: 21px; border: none;}
#moveForm1 input{width: 98%; height: 25px}