@charset "UTF-8";
/* 공통 */
*{font-family: 'Noto Sans KR', 'NanumBarunGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;}
.en{font-family: 'Comfortaa', cursive;}
.clear::after{content: ''; clear: both; display: block;}
section{width: 1000px; margin: 0 auto; padding-top: 70px;}
section > h2{text-transform: uppercase; text-align: center; font-weight: 700; font-size: 35px; margin-bottom: 30px;}

/* header */
header.pc{width: 100%; height: 110px; border-bottom: 1px solid #858585; position: fixed; top: 0; left: 0; background: #fff; z-index: 99;}
header.pc #lnb{width: 100%; height: 35px; border-bottom: 1px solid #e5e7eb; box-sizing: border-box;  background-color: #000;}
header.pc #lnb #lnba{color: #999;}
header.pc #lnb #lnba a{color: #999;}
header.pc #lnb .lnb{width: 90%; height: 100%; margin: 0 auto; display: flex; justify-content:flex-end; align-items: center;}
header.pc #lnb .lnb li{margin-left: 29px; position: relative;}
header.pc #lnb .lnb li a{font-size: 12px;}

header.pc #header{height: 75px; width: 90%; margin: 0 auto; display: flex; align-items: center; justify-content:space-between;}
header.pc #header h1{width: 145px; height: 54px; background: url('../images/logo.png') 0 0/contain no-repeat;}
header.pc #header h1 a{font-size: 0; display: block; height: 100%;}
header.pc #header #nav{display: flex; align-items: center;}
header.pc #header #nav li{margin-left: 80px;}
header.pc #header #nav li:first-of-type{margin-left: 0px;}
header.pc #header #nav li a{font-weight: 600; font-size: 18px;}

/* nav */

nav #nav{width: 1250px; height: 100%; margin: 0 auto; display: flex; justify-content:flex-start; align-items: center; flex-wrap: nowrap;}
nav #nav li {margin-right: 25px;}
nav #nav li a{font-size: 16px; font-weight: 500;}
#header #searchWord{width: 250px; border:none; border-bottom: 2px solid #000; color: #333;}
.trans{margin-left: -15px;}


.on a{color: #4982cf;}

/* footer */
footer{margin-top: 100px; background: #fff; border-top: 1px solid #e5e7eb;}
footer #footer{width: 1200px; margin: 0 auto; padding: 50px 0;}
footer #footer > div{float: left; }
footer #footer .logo img{width: 200px; margin-right: -30px;}
footer #footer .customer{margin-left: 100px;}
footer #footer .address{float: right;}
footer #footer h4{font-size: 16px; font-weight: 600; margin-bottom: 10px;}
footer #footer p{font-size: 13px; line-height: 1.3;}
footer #footer .tel{font-size: 16px; font-weight: 600;}


/* footer */
footer{margin-top: 100px; background: #fff; border-top: 1px solid #e5e7eb;}
footer #footer{width: 1000px; margin: 0 auto; padding: 50px 0;}
footer #footer > div{float: left; }
footer #footer .customer{margin-left: 100px;}
footer #footer .address{float: right;}
footer #footer h4{font-size: 16px; font-weight: 600; margin-bottom: 10px;}
footer #footer p{font-size: 13px; line-height: 1.3;}
footer #footer .tel{font-size: 16px; font-weight: 600;}
footer #footer span{margin-left: 100px;}